<header th:fragment="header" class="site-navbar js-sticky-header site-navbar-target" role="banner">






    <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <a th:href="@{/}" class="text-black"><img src="../imagenes/logo.png" width="75px" height="75px"></a>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                        <li><a th:href="@{/}" class="nav-link">Inicio</a></li>

                        <li class="has-children">
                            <a href="#about-section" class="nav-link">Componentes</a>
                            <ul class="dropdown arrow-top">
                                <li><a th:href="@{/componentes/procesadores}" class="nav-link">Procesadores</a></li>
                                <li><a th:href="@{/componentes/ram}" class="nav-link">Memorias RAM</a></li>
                                <li><a th:href="@{/componentes/discos}" class="nav-link">Discos duros</a></li>
                                <li><a th:href="@{/componentes/otros}" class="nav-link">Otros</a></li>

                                <li><a th:href="@{/componentes/nuevo}" class="nav-link">Añadir componente</a></li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a th:href="@{/ordenadores}" class="nav-link">Ordenadores</a>
                            <ul class="dropdown arrow-top">
                                <li><a th:href="@{/ordenadores}" class="nav-link">Ver todos</a></li>
                                <li><a th:href="@{/ordenadores/nuevo}" class="nav-link">Añadir ordenador</a></li>
                            </ul>
                        </li>

                        <li><a th:href="@{/bootstrap}" class="nav-link">Pedidos</a></li>

                    </ul>
                </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>















</header>